div h1{
    background-color: aqua;
}

div h2{
    background-color: blue;
}
body{
    background-color: rgb(215, 189, 189);
}

@media screen and (max-width:760px){
    body{
        background-color: black;
    }
    div h1{
        background-color: rgb(251, 255, 0);
        text-align: center;
    }
    
    div h2{
        background-color: rgb(255, 0, 238);
        text-align: center;
    }
}



@media screen and (max-width:360px){
    body{
        background-color: rgb(30, 213, 48);
    }
    div h1{
        background-color: rgb(255, 98, 0);
        text-align: center;
    }
    
    div h2{
        background-color: rgb(28, 178, 237);
        text-align: center;
    }
}










*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(224, 224, 224) !important; */
    /* background-image: url(./download\ \(2\).png); */
    background-size: 100%;
    /* background-color: #333; */
    overflow: hidden !important;

}
 .container1{
    width: 88%;
    /* background-color: black; */
    /* margin-right:-70px; */
    /* margin-left:-80px; */
    margin: auto;
    overflow: hidden !important;
} 
nav{
    background-color: rgb(246, 82, 17);
    /* height: 9vh; */
    position: sticky;
    top: 0;
    z-index: 10000000000000;
}
.topnav{
    padding-top:10px ;
    display: flex;
    gap: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform:uppercase;
   justify-content: end;
   margin-right:80px ;
   font-size: 19px;
 
}
.topnav a{
    /* margin-top: 10px; */
    color: rgb(233, 230, 230);
    text-decoration: none;
}
.sideimg{
    /* background-color: #806565; */
    display: flex !important;
}
.sideimage{
    /* background-color: aqua; */
    display: flex !important;
    visibility: visible;
}
.searchBar{
    /* position: fixed; */
    gap: 20px;
    /* display: flex; */
    justify-content: end;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: rgb(120, 125, 123); */
    text-align: center;
    margin-top: 20px;
    /* gap: 90px; */
    width: 55%;
    /* align-items:center; */
padding-top: 20px;
padding-bottom: 40px;
margin: auto;

}
#back{
    /* display: none; */
    /* visibility: hidden; */
    /* overflow-x: hidden; */
    /* width: 10px; */
    /* background-color: bisque; */
    background-image: url(./search.png);
    background-size: 4vh;
    background-repeat: no-repeat;
    background-position: right;
}
.search{
    /* color: rgb(255, 255, 255); */
    align-items: center;
    /* gap: px; */
    display: flex;
    /* background-color: #4e3333; */
    /* font-size: 70px; */
} 
.search input{
    
    /* background-color: rgb(175, 92, 92); */
    width: 850px;
    height: 5.5vh;
    border-style: none;
}
svg{
    /* background-color: rgb(11, 12, 12); */
    /* padding: 10px; */
    color: rgb(255, 255, 255);
    margin-left: -90px;
    /* font-size: xx-large !important; */
    width: 5vh !important;
    height: 4vh;
}
.img h2{
    /* background-color: azure; */
    margin-top: -30px;
}
.cards .sale{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    padding: 12px;
    /* background-color: #eeeeee; */
    color: rgb(221, 123, 84);
    display: flex;
   align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.132);
}
.sale h2{
    /* background-color: aquamarine; */
    border: 2px;
    border-style: solid;
    padding: 10px;
}
.salecards{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    justify-content: space-between;
    /* background-color: aqua; */
    display: flex;
    /* gap: 1px; */
    flex-wrap: wrap;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.103);
}
.saleCard{
    /* background-color: black; */
    padding-bottom: 40px;
    color: rgb(63, 62, 62);
    
}
.saleCard h3{
    color: rgb(182, 30, 6);
    padding-left: 10px;
}
.saleCard h4{
    /* background-color: #dad0d0; */
    padding-left: 10px;
}
.saleCard s{
    /* background-color: #dad0d0; */
    padding-left: 30px;
    color: rgb(137, 136, 135); 

}
.Categorie{
    margin-top: 50px;
    /* background-color: #433434; */
   
}
.CategerBox{
    /* margin-bottom: 60px; */
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: rgb(182, 177, 186); */
    /* box-shadow: 0 7px 10px rgba(0, 0, 0, 0.401); */
}
.Categor{
    /* background-color: aquamarine; */
    /* margin-bottom: 50px;  */
    padding-bottom: 50px;
    /* border-style: solid; */
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.377);
}
.Categor h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.foryou{
    margin-top: 50px;
}


.footer-container {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px;
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
padding-bottom: 20px;
border-bottom: 1px solid #dddddd;
}

.footer-column {
width: 30%;
}

.footer-column h3 {
margin-bottom: 15px;
font-size: 26px;
color: #333;
}

.footer-column ul {
list-style-type: none;
padding: 0;
}

.footer-column ul li {
margin-bottom: 10px;
}

.footer-column ul li a {
text-decoration: none;
color: #383535;
transition: color 0.3s;
}

.footer-column ul li a:hover {
color: #989898;
}

.footer-bottom {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
}

.footer-bottom p {
margin: 0;
color: #777;
/* background-color: #211616; */
padding-bottom: 10px;
}

.footer-bottom a {
text-decoration: none;
color: #555;
margin-right: 10px;
padding-bottom: 10px;
}

.footer-bottom a:hover {
color: #180505;
}

.footer-bottom-right {
display: flex;
align-items: center;

}

.footer-language-currency {
display: flex;
margin-right: 20px;
color: #777;
}

.footer-language-currency span {
margin-right: 10px;

}

.footer-social-icons a {
text-decoration: none;
color: #777;
margin-right: 10px;
}

.footer-social-icons:hover {
color: #333;

}

.footer-social-icons{
font-size: 16px;

}

.Categor:hover{
    padding: 10px;
    /* animation:alternate-reverse; */
    transition: 1s;
    /* box-shadow: 1 2px 32px 0px red; */
    background-color: #efefef;

}